<app-home-menu></app-home-menu>
<div class="container">
    <div class="row">
      <div class="col-md-3">
      <app-profile-image></app-profile-image>
      </div>
      <div class="col-md-9">
        <app-header></app-header>
        <div class="groups">
          <div class="search-group">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="search" matInput placeholder="Search" value="">
                </mat-form-field>
                <button type="submit" class="search btn-success save">Search</button>
            </form>
          </div>
          <div class="col-md-12">
            <div class="row">
                <div class="group col-md-3">
                  <img src="../assets/imgs/no_ava_groups.png" alt="no_ava_groups.png">
                </div>
                <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>