<div class="user-avatar">
    <div class="user-img">
    <div class="img">
      <img src="../assets/imgs/no_avatar.png" alt="no_avatar.png">
    </div>
    <ul class="animated fadeInUp">
      <li><a href=""><i class="fa fa-upload"></i>Upload a new photo</a></li>
      <li><a href=""><i class="fa fa-arrows-v"></i>Change thumbnail</a></li>
      <li><a href=""><i class="fa fa-times"></i>Delete</a></li>
    </ul>
    <span class="hover-display">Name Lastname</span>
    </div>
    <div class="profile-status">
      <div class="status-text">
          Enter the text of your status
      </div>
    </div>
</div>