@import '../../../variable';

::ng-deep .mat-dialog-container{
    padding: 10px;
    .mat-form-field{
        width: 100%;
        label{
            color: $color-blue;
        }
    }
}
.create-password{
    padding: 15px;
    h5{
        color: $color-blue;
        text-align: center;
        font-size: 17px;
    }
    .create-pass{
        text-align: center;
    }
    .create-pass{
        .create {
            background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            color: #3F4752;
            font-size: 13px;
            padding: 4px 15px;
          }
          .create:hover {
            background: $color-green;
            color: #fff;
          }
    }
}