<div class="create-password">
  <h5>Create password</h5>
  <form class="example-form" [formGroup]="createPassword" (ngSubmit)="createPass(createPassword)">
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm password" formControlName="confirm_password" required>
    </mat-form-field>
    <div class="create-pass">
        <p class="error" *ngIf="erroLogin">Invalid Password</p>
      <button type="submit" class="create btn btn-default">Create</button>
    </div>
  </form>
</div>