<div class="map-block">
    <div class="map-header">
   <mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-globe"></i>
        </ng-template>
        <div class="map">
            <div id="map" #gmap></div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-home"></i>
        </ng-template>
          <app-profile-info></app-profile-info>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-picture-o"></i>
          </ng-template>
        <div class="img-album tabs-a">
          <div class="row">
          <div class="col-md-2 img-alb">
            <img src="/assets/imgs/Images_no_albums.png" alt="Images_no_albums.png">
          </div>
          <div class="col-md-10 upload">
            <p>You can upload photos to albums</p>
            <span (click)="openDialogAlbum()">Create an album</span>
          </div>
          <div class="clearfix"></div>
          </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-music"></i>
          </ng-template>
        <app-audios></app-audios>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-film"></i>
          </ng-template>
          <app-videos></app-videos>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-newspaper-o"></i>
      </ng-template>
        <app-news></app-news>
    </mat-tab>
    </mat-tab-group>
  </div>
