<div class="map-block">
    <div class="map-header">
      <!-- <ul>
        <li class="active"><i class="fa fa-globe"></i></li>
        <li><i class="fa fa-home"></i></li>
        <li><i class="fa fa-picture-o"></i></li>
        <li><i class="fa fa-music"></i></li>
        <li><i class="fa fa-film"></i></li>
      </ul>
      <img src="../../../assets/imgs/Globe.tab.png" alt="Globe.tab.png"> -->
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-globe"></i> 
        </ng-template>
        <div class="map">
            <div id="map" #gmap></div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-home"></i> 
        </ng-template>
          <app-profile-info></app-profile-info>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-picture-o"></i> 
          </ng-template>
        <div class="img-album tabs-a">
          <div class="row">
          <div class="col-md-2 img-alb">
            <img src="../../../assets/imgs/Images_no_albums.png" alt="Images_no_albums.png">
          </div>
          <div class="col-md-10 upload">
            <p>You can upload photos to albums</p>
            <span (click)="openDialogAlbum()">Create an album</span>
          </div>
          <div class="clearfix"></div>
          </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-music"></i> 
          </ng-template>
        <div class="music-album tabs-a">
          <div class="row">
          <div class="col-md-2 music-alb">
            <img src="../../../assets/imgs/music.png" alt="music.png">
          </div>
          <div class="col-md-10 upload">
            <p>You can download audio</p>
            <span (click)="openDialogAudio()">Add Audio</span>
          </div>
          <div class="clearfix"></div>
          </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-film"></i> 
          </ng-template>
        <div class="video-album tabs-a">
          <div class="row">
          <div class="col-md-2 video-alb">
            <img src="../../../assets/imgs/no_videos.png" alt="no_videos.png">
          </div>
          <div class="col-md-10 upload">
            <p>You have no videos.</p>
            <span (click)="openDialogVideo()" >Add a video</span>
          </div>
          <div class="clearfix"></div>
          </div>
        </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-newspaper-o"></i> 
      </ng-template>
        <app-news></app-news>
  </mat-tab>
    </mat-tab-group>
  </div>
    