@import '../../../../variable';
    .add-comment{
        padding: 10px 0;
        text-align: right;
        .text-comm{
            width: 100%;
            height: 50px;
            border: 1px solid #E5E5E5;
            color: #777777;
            font-size: 12px;
            padding: 12px;
            outline: none;
            border-radius: 2px;
        }
        .add-comm{
            outline: none;
            font-size: 12px;
            height: 30px;
            width: 58px;
            box-shadow: none;
            border: none;
            margin: auto;
            color: #3F4752;
            border: 1px solid #E0E0E0;
            background: linear-gradient(#FFFFFF, #F5F5F5) #FCFCFC;
            display: none;
        }
        .add-comm:hover{
            background: $color-green;
            color: #fff;
        }
    }
    .focus.add-comment{
        .text-comm{
            border-color: #66afe9; 
        }   
        .add-comm{
            display: block;
        }            
    }