<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    <div class="user-avatar">
      <div class="user-img">
      <div class="img">
        <img *ngIf='user.user_photo' src='{{ user.user_photo }}'>
        <img *ngIf='! user.user_photo' src="../assets/imgs/no_avatar.png">
      </div>
      <ul class="animated fadeInUp">
        <li (click)="openDialogUpload()"><i class="fa fa-upload"></i>Upload a new photo</li>
        <li (click)="openDialogCrop()"><i class="fa fa-arrows-v"></i>Change thumbnail</li>
        <li><i class="fa fa-times"></i>Delete</li>
      </ul>
      <span class="hover-display">{{ user.user_name + " " + user.user_last_name }}</span>
      </div>
      <div class="profile-status">
        <ng-template [ngIf]= "status">
          <div (click)="openInputWrite()" class="status-text">
              Enter the text of your status
          </div>
        </ng-template>
        <ng-template [ngIf]= "newStatus">
          <div class="new-status">
            <textarea class="form-control" placeholder="Enter the text of your status" rows="2"></textarea>
            <button type="button" class="btn btn-success save" (click)="postStatus()">Save</button>
          </div>
          </ng-template>
      </div>
      <div routerLink="/group" class="box-group center">
          <div class="img-subscribe"></div>
        Subscribe to you interesting group and read their updates in the newsfeed.
      </div>
      <div routerLink="/notes" class="box-notes center">
          <div class="img-notes"></div>
          With the help of notes, you can share the events of
          life with friends, as well as to be aware of whats new with them.
      </div>
      <div class="box-video center">
          <div class="img-video"></div>
          Can store an unlimited number of video files.<br>To add your first video, click here.
      </div>
        <app-friends-sidebar-block *ngIf="user.friends" [friends]="user.friends"></app-friends-sidebar-block>
    </div>
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <app-glob-tabs></app-glob-tabs>
      <app-wall *ngIf="userProfile" [wallId]="userProfile.id"></app-wall>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
