<div class="create-video">
  <form class="example-form" [formGroup]="newpostvideo">
    <p class="center-p">Adding a new video</p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Link to this video" formControlName="linkvideo" required>
    </mat-form-field>
    <p class="supported">Supported video services
      <span>YouTube, RuTube.Ru, Vimeo.Com, Smotri.Com</span>
    </p>
    <div class="result-load">
      <span class="img">Image</span>
      <!-- <img src="../../../assets/imgs/no_avatar.png" alt="no_avatar.png"> -->
      <img src="https://img.youtube.com/vi/{{videoName}}/0.jpg" alt="">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="namevideo" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" formControlName="descvideo"></textarea>
      </mat-form-field>
      <div class="can">
        <p>Who can see this album?
          <mat-form-field>
            <mat-select [(value)]="selected3" [ngClass]="selected3"
             (selectionChange)="getNotification(selected3)" formControlName="selectmembers">
              <mat-option value="option1">All Members</mat-option>
              <mat-option value="option2">Just Friends</mat-option>
              <mat-option value="option3">Only I</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="create-btn">
      <button type="button" class="done btn btn-default" (click)="done()">Done</button>
      <button (click)="onNoClick()" type="button" class="cancel btn btn-default">Cancel</button>
    </div>
  </form>
</div>