<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-profile-image></app-profile-image>
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <div class="searchAll">
        <div class="searchUser">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="search" matInput placeholder="Search" value="">
            </mat-form-field>
            <button type="submit" class="search btn-success save">Search</button>
          </form>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="search-avatar" *ngFor="let result of searchResults">
              <div class="search-img" *ngIf="type=='users'" [routerLink]="'/user-profile/'+result.id">
                <div class="img" >
                  <img [src]="result.user_photo || '/assets/imgs/no_avatar.png'" alt="no_avatar.png">
                </div>
                <ul class="animated fadeInUp">
                  <li>{{result.user_name}} {{result.user_last_name}}</li>
                  <li *ngIf="result.user_country">{{result.user_country}} {{result.user_city}}</li>
                  <li *ngIf="result.user_age">{{result.user_age}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
