.video{
    margin-bottom:15px; 
    img{
        position: relative;
        display: block;
        height: auto;
        width: 225px;
    }
    p{
        position: absolute;
        z-index: 9;
        left: 0;
        right: 0;
        top: 25%;
        text-align: center;
    }
    .hover{
        background:#8cc734;
        color: #fff;
        display: block;
        opacity: 0;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        width: 100%;
        position: absolute;
    }
}
.video:hover .hover{
    height: 100%;
    opacity: 0.5;
    width: 225px;
    z-index: 9;
}
