<div class="animation">
  <img class="element1 animated fadeInDownBig" src="./assets/imgs/01.png" alt="01">
  <img class="element2 animated fadeInDownBig" src="./assets/imgs/02.png" alt="02">
  <img class="element3 animated fadeInDownBig" src="./assets/imgs/03.png" alt="03">
  <img class="element4 animated fadeInDownBig" src="./assets/imgs/04.png" alt="04">
  <img class="element5 animated fadeInDownBig" src="./assets/imgs/05.png" alt="05">
  <img class="element6 animated fadeInDownBig" src="./assets/imgs/06.png" alt="06">
  <img class="element7 fadeInRightBig" src="./assets/imgs/07.png" alt="07">
  <img class="element8 fadeInLeftBig" src="./assets/imgs/08.png" alt="08">
  <img class="element9 animated fadeInDownBig" src="./assets/imgs/09.png" alt="09">
  <img class="element10 animated fadeInUpBig" src="./assets/imgs/10.png" alt="10">
  <img class="quote1element animated fadeInUpBig" src="./assets/imgs/11.png" alt="11">
  <img class="quote2element animated fadeInUpBig" src="./assets/imgs/12.png" alt="12">
</div>
<div class="animate-login animated fadeInDownBig">
  <h1>WELCOME TO</h1>
  <span>GLOBSTAGE</span>
  <div class="buttons">
      <button (click)="openLogin()" type="button" class="btn">Login</button>
      <button (click)="openRegister()" type="button" class="btn-default">Register</button>
  </div>
</div>
<ng-template [ngIf]= "loginPanel">
<div class="login-panel">
  <div class="login-form animated fadeInDownBig">
      <span (click)="closeLogin()" class="icon-close">x</span>
    <h3>Welcome
      <span class="solid"></span>
    </h3>
    <form [formGroup]="formgroupLog" (ngSubmit)="signIn(formgroupLog)"
    action="http://api-globstage.atero.solutions/v1//users/token" method="post">
      <div class="forms">
        <span class="input-span">E-MAIL:</span>
        <input class="input-text" type="email" formControlName="user_name"><br>
        <span class="input-span">PASSWORD</span>
        <input class="input-text margin" type="password" formControlName="user_password">
        <!--<p *ngIf="formgroupLog.invalid" class="form-error">* All fields are required.</p>-->
        <p class="text-md-right forgot-text">Forgot your password?</p>
      </div>
      <!--<input class="check-box" type="checkbox" name="remember">-->
      <!--<label class="remember-me" for="remember_me">Remember me</label>-->

      <button type="submit" [disabled]="!formgroupLog.valid" class="login btn btn-success">Login</button>
    </form>
  </div>
</div>
</ng-template>
<ng-template [ngIf]= "registerPanel">
<div class="register-panel">
  <div class="register-form animated fadeInDownBig">
      <span (click)="closeRegister()" class="icon-close">x</span>
      <h3>Register
        <span class="solid"></span>
      </h3>
      <form [formGroup]="formgroupReg" (ngSubmit)="onSignUp(formgroupReg)" action="" method="post">
        <input type="text" formControlName="user_first_name" placeholder="Your name*"><br>
        <input type="text" formControlName="user_last_name" placeholder="Your last name*"><br>
        <input type="email" formControlName="user_email" placeholder="E-mail address*"><br>
        <input type="password" formControlName="user_password" placeholder="Password*"><br>
        <input class="margin" type="password" formControlName="password_second" placeholder="Password again*"><br>
        <p *ngIf="formgroupReg.invalid" class="form-error">* All fields are required.</p>
        <button type="submit" [disabled]="!formgroupReg.valid" class="register btn btn-success">Register</button>
      </form>
  </div>
</div>
</ng-template>
