<app-home-menu></app-home-menu>
<div class="container">
    <div class="row">
      <div class="col-md-3">
      <app-profile-image></app-profile-image>
      </div>
      <div class="col-md-9">
        <app-header></app-header>
        <div class="privacy">
          <form class="example-form">
          <p>{{'privacy.privateMess' | translate}}:<mat-form-field>
            <mat-select [(value)]="selected1" [ngClass]="selected1">
              <mat-option value="option1">All Member</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.no' | translate}}</mat-option>
              <mat-option value="option4">{{'privacy.onlyVerified' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
        <p>{{'privacy.otherPeoples' | translate}} :<mat-form-field>
            <mat-select [(value)]="selected2" [ngClass]="selected2">
              <mat-option value="option1">All Member</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.onlyI' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
          <p>{{'privacy.postMyWall' | translate}} :<mat-form-field>
            <mat-select [(value)]="selected3" [ngClass]="selected3">
              <mat-option value="option1">All Members</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.onlyI' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
        <p>{{'privacy.commentEntries' | translate}} :<mat-form-field>
            <mat-select [(value)]="selected4" [ngClass]="selected4">
              <mat-option value="option1">All Members</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.onlyI' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
          <p>{{'privacy.basicInfoPage' | translate}} :<mat-form-field>
            <mat-select [(value)]="selected5" [ngClass]="selected5">
              <mat-option value="option1">All Members</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.onlyI' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
        <p>{{'privacy.listMyQuotes' | translate}} :<mat-form-field>
            <mat-select [(value)]="selected6" [ngClass]="selected6">
              <mat-option value="option1">All Members</mat-option>
              <mat-option value="option2">{{'privacy.justFriends' | translate}}</mat-option>
              <mat-option value="option3">{{'privacy.onlyI' | translate}}</mat-option>
            </mat-select>
          </mat-form-field></p>
        </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
