<!--The content below is only a placeholder and can be replaced.-->
<div class="animation">
    <img class="element1 animated fadeInDownBig" src="../assets/imgs/01.png" alt="01">
    <img class="element2 animated fadeInDownBig" src="../assets/imgs/02.png" alt="02">
    <img class="element3 animated fadeInDownBig" src="../assets/imgs/03.png" alt="03">
    <img class="element4 animated fadeInDownBig" src="../assets/imgs/04.png" alt="04">
    <img class="element5 animated fadeInDownBig" src="../assets/imgs/05.png" alt="05">
    <img class="element6 animated fadeInDownBig" src="../assets/imgs/06.png" alt="06">
    <img class="element7 fadeInRightBig" src="../assets/imgs/07.png" alt="07">
    <img class="element8 fadeInLeftBig" src="../assets/imgs/08.png" alt="08">
    <img class="element9 animated fadeInDownBig" src="../assets/imgs/09.png" alt="09">
    <img class="element10 animated fadeInUpBig" src="../assets/imgs/10.png" alt="10">
    <img class="quote1element animated fadeInUpBig" src="../assets/imgs/11.png" alt="11">
    <img class="quote2element animated fadeInUpBig" src="../assets/imgs/12.png" alt="12">
</div>
<div class="background-page">

  <mat-menu #menu="matMenu">
    <div class="user-avatar-menu">
        <div class="user-img">
            <img src="../assets/imgs/no_avatar.png" alt="no_avatar.png">
        </div>
        <a class="user-name" href="">Argam Hakobyan</a>
        <button type="button" class="exit btn btn-default">Exit</button>
    </div>
    <button mat-menu-item>
      <mat-icon>photo</mat-icon>
      <span>Albums</span>
    </button>
    <button mat-menu-item>
      <mat-icon>videocam</mat-icon>
      <span>Video</span>
    </button>
    <button mat-menu-item>
      <mat-icon>speaker_notes</mat-icon>
      <span>Group</span>
    </button>
    <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>News</span>
      </button>
    <button mat-menu-item>
      <mat-icon>notes</mat-icon>
      <span>Notes</span>
    </button>
    <button mat-menu-item>
      <mat-icon>https</mat-icon>
      <span>Privacy</span>
    </button>
    <button mat-menu-item>
      <mat-icon>photo_library</mat-icon>
      <span>Page Background</span>
    </button>
    <button mat-menu-item>
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>
  </mat-menu> 
  <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
<router-outlet></router-outlet>
</div>
