<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-profile-image></app-profile-image>
      <div class="create-group">
        <span (click)="openDialogGroup()" class="create">Create album</span>
      </div>
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <div class="groups">
        <div class="search-group">
          <h2 class="group-title">{{album?.name}}</h2>
          <div class="upload-btn">
            <button (click)="openDialogAttach()">Upload Album Image <i class="fa fa-upload"></i></button>
          </div>
        </div>
        <div class="col-md-12" *ngIf="album">
          <div class="row">
            <div class="album-photo col-md-3">
              <img src="/assets/imgs/no_avatar.png" alt="no-avatar">
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
