@import '../../../../variable';
.wall-user{
    background: rgba(3, 170, 173, 0.8);
    padding-bottom: 20px;
    padding: 5px;
    padding-left: 16px;
    .wall-name{
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bolder;
        margin-bottom: 2px;
    }
    .date{
        color: #fff;
    }
}
.wall-content{
    padding-top: 20px;
    padding-left: 66px;
    .wall-atach-photo{
        h6{
            font-size: 11px;
        }
    }
}
.wall-atach-photo{
    padding-bottom: 20px;
    img{
        width: 400px;
        max-width: 100%;
    }
}
.like-dislike{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 66px;
    i{
        font-size: 21px;
        cursor: pointer;
    }
    .like{
        color: #95c800;
        padding-right: 4px;
    }
    .dislike{
        color: $color-red;
    }
}
