<div class="video-album tabs-a">
  <div class="row" >
    <div class="col-md-2 video-alb">
      <img src="/assets/imgs/no_videos.png" alt="no_videos.png">
    </div>
    <div class="col-md-10 upload">
      <p>{{'noDownAudio' | translate}}</p>
      <span (click)="openDialogVideo()">{{'addVideo' | translate}}</span>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="row">
    <app-video *ngFor="let video of videos" [video]="video"></app-video>
  </div>
</div>
<!-- *ngIf="audios.length==0" -->