@import '../../../../../variable';
.clearfix{
  clear: both;
}
.post_attachs{
  .post_attach{
    width: 600px;
    margin-top: 10px;
  }
  .doc-hover{
    width: 100px;
    margin-top: 10px;
  }
  .doc-hover:hover{
    opacity: 0.7;
  }
}
