<div class="search-form">
  <div class="search-user">
    <form  class="example-form">
      <mat-form-field class="example-full-width">
        <input name="query" [(ngModel)]="query" type="search" matInput placeholder="Search" value="">
      </mat-form-field>
      <mat-form-field>
        <mat-select name="type" [(ngModel)]="type" >
          <mat-option value="users">By the people</mat-option>
          <mat-option value="videos">On the videos</mat-option>
          <mat-option value="audios">On the audios</mat-option>
          <mat-option value="notes">On the notes</mat-option>
          <mat-option value="group">On the group</mat-option>
          <mat-option value="posts">On the recordings</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="searchResult(query, type)" type="submit" class="search btn-success save">Search</button>
    </form>
  </div>
</div>
