<div class="user-avatar" *ngIf="user">
  <div class="user-img">
    <div class="img">
      <img src="{{user.user_photo || '../assets/imgs/no_avatar.png'}} " alt="no_avatar.png">
    </div>
    <span class="hover-display">{{user.user_name + ' ' + user.user_last_name}}</span>
  </div>
  <div class="profile-status">
    <div class="status-text">
      Enter the text of your status
    </div>
  </div>
  <div class="user-attr">
    <button type="button" class="btn btn-success" (click)="addFriend()"><i class="fa fa-plus" aria-hidden="true" ></i>Add to friends</button>
    <button type="button" class="btn btn-success" (click)="removeFriend()"><i class="fa fa-plus" aria-hidden="true" ></i>Add to friends</button>
    <button type="button" class="btn btn-success"><i class="fa fa-envelope" aria-hidden="true"></i>Send Message</button>
    <button type="button" class="btn btn-success"><i class="fa fa-share" aria-hidden="true"></i>Follow</button>
    <!--<button type="button" class="btn btn-success"><i class="fa fa-gift" aria-hidden="true"></i>Send Gift</button>-->
    <button type="button" class="btn btn-success"><i class="fa fa-star-o" aria-hidden="true"></i>Add to Favorites</button>
    <button type="button" class="btn btn-success"><i class="fa fa-lock" aria-hidden="true"></i>Block</button>
  </div>

  <app-friends-sidebar-block *ngIf="user.friends.length" [friends]="user.friends"></app-friends-sidebar-block>
</div>
